<div class="page">
  <div class="page__header">
    <h1>Forgot your password?</h1>
  </div>

  <div class="page__content">
    <div class="page__card">
      <%= form_with url: passwords_path, class: "form" do |form| %>
        <div class="form__group">
          <%= form.email_field :email_address,
                           required: true,
                           autofocus: true,
                           autocomplete: "username",
                           placeholder: "Enter your email address",
                           value: params[:email_address],
                           class: "form__input" %>
        </div>
        <div class="form__actions">
          <%= form.submit "Email reset instructions", class: "btn btn--primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
