<div class="page">
  <div class="page__header">
    <h1>New Transfer</h1>
  </div>

  <div class="page__content">
    <%= render "form", organization: current_organization, transfer: @transfer %>
  </div>
</div>